# PlatformIO
.pio/
.vscode/

# Compiled artifacts
*.bin
*.elf
*.map
*.log

# OS junk
.DS_Store
Thumbs.db

# Backup / temp files
*~
*.swp
*.tmp

# Optional: ignore SD mirror binaries (if you don't want them versioned)
# assets/**/*.png
# assets/**/*.wav
